body {
    background: url(https://www.cdiscount.com/pdt2/0/3/8/1/700x700/auc3665231061038/rw/papier-peint-autocollant-aspect-satine-rose-pale.jpg );
    background-size: cover;
    background-repeat: repeat;
    font-family: sans-serif;
    height: 100vh;
    }
h1{
    text-align: center;
}

h3{
    text-align: center;
}

#texte1{
    text-align: center;
}

p{
    text-align: center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-list{
    padding: 1rem 0;
    display:block;
    justify-content: flex-end;
    align-items: center;

}

.nav-items{
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}

.nav-items a {
    color: black;
    letter-spacing: 1.2px;

}

.nav-items:first-child{
    margin-right: 3rem;
    margin-left: 3rem;
}

#image-tete{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 400px ;
    filter: drop-shadow(8px 8px 10px gray);
    
}

#chiffre-cles{
    text-align: center;
}

div{
    margin-left: 5cm;
    margin-right: 3cm;
}

#ville{
    height: 700px ;
    filter: drop-shadow(8px 8px 10px gray);

}

#ville2{
    height: 700px ;
    filter: drop-shadow(8px 8px 10px gray); 
}

#parc{
    height: 700px ;
    filter: drop-shadow(8px 8px 10px gray); 
}

#rue{
    height: 695px ;
    width: 1127px;
    filter: drop-shadow(8px 8px 10px gray); 
}